<% planet = local_assigns.fetch(:planet, @planet) %>
<div data-controller="react-island"
    data-react-component="PlanetOrbitalView"
    data-props="<%= orbital_view_props(planet).to_json %>">
</div>
