<% provide(:title, "World of Stars — Galaxy") %>

<div style="height: calc(100vh - 4rem); position: relative; overflow: hidden;">
  <div data-controller="react-island"
       data-react-component="GalaxyMap"
       data-props="{}"
       style="width: 100%; height: 100%;">
  </div>
</div>
